body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}
.container-pos {
  height: 100vh;
  overflow: hidden;
}
.product-section {
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background-color: white;
}

.cart-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.product-card {
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid #f5f5f5;
  height: 100%;
}

.product-card .product-img img {
  height: 120px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* 1rem:16px */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-color: #222;
}

.category-btn {
  margin: 5px;
  border-radius: 25px;
  padding: 8px 20px;
}

.search-box {
  border-radius: 25px;
  padding: 10px 10px;
  border: 2px solid #dee2e6;
}

.cart-header {
  background-color: white;
  color: black;
  box-shadow: 0 0 3px #e5e5e5;
  border: 1px solid #f5f5f5;
  padding: 20px;
}

.cart-items {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
}

.cart-footer {
  background-color: white;
  padding: 20px;
  border-top: 1px solid #dee2de;
}

.total-section {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.btn-checkout {
  border: none;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.service-card {
  cursor: pointer !important;
}
